# Node
node_modules/
npm-debug.log*

# Expo
.expo/
dist/
web-build/

# Python
venv/
__pycache__/
*.pyc

# Environment files
.env
.env.local
.env.*

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Android/iOS builds
android/
ios/